<div class="hero__bg">
  <h1 class="hero__title">
    <div class="rectangle-wrapper">
      <div class="rectangle"></div>
      <span>A MESSAGE FROM EARTH</span>
    </div>
    <div class="hero__greeting">HELLO FELLOW GALAXY MEMBER</div>
    <div class="rectangle-wrapper">
      <span>A MESSAGE FROM EARTH</span>
      <div class="rectangle"></div>
    </div>
  </h1>
  <div appSectionWrapper>
    <img class="hero__astronaut" src="/hero-astronaut.svg" />
  </div>
  <div class="hero__backdrop backdrop"></div>
  <div>
    <img class="hero__earth" src="/hero-earth.svg" />
  </div>
</div>
