@if (!picOfTheDay()){
<p>Loading...</p>
}

<div class="pic-of-day__section">
  <div appSectionWrapper class="pic-of-day__content">
    <app-title title="Astronomy Picture Of The Day" />
    <div class="pic-of-day__wrapper">
      <div class="pic-of-day__img-wrapper">
        <img [src]="picOfTheDay()?.hdurl | safeUrl" />
      </div>
      <div class="pic-of-day__content-wrapper">
        <div>
          <h4 class="pic-of-day__title">{{ picOfTheDay()?.title }}</h4>
          <p class="pic-of-day__desc">{{ picOfTheDay()?.explanation }}</p>
          @if(picOfTheDay()?.copyright){
          <span class="pic-of-day__copyright"
            >Copyright {{ picOfTheDay()?.copyright }}</span
          >
          }
        </div>
      </div>
    </div>
  </div>
  <div class="backdrop pic-of-day__backdrop"></div>
</div>
